.layout {
    height: 64px;
}

.head {    
    color: white;    
    margin: 0;
}

.visible {
    display: block;
}

.hide {
    display: none;
}

.layout-small {
    display: none;
}

.layout-large {
    display: block;
}

@media (max-width: 576px) {
    .layout-small {
        display: block;
    }
    .layout-large {
        display: none
    }
}